body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
    background-color: #83afd5;
    background-color: #dbe2e5;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%234da1ce' fill-opacity='0.24'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

form {
    position: relative;
    z-index: 1;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    margin: 0 20x;
    color: #333;
}

nav a:hover {
    color: #000;
    
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #4da1ce;
}

.post h2 {
    margin-top: 0;
    color: #4da1ce;
}

.post p {
    margin: 10px 0;
}

textarea {
    height: 30px;
    width: 70%;
}

textarea#content {
    height: 200px;
}

.buttons {
    display: flex;
    padding: 10px;
}

button {
    background-color: #dbe2e5;
    margin-right: 10px;
    border-color: #4da1ce;
    border-radius: 5px;
    color: #4da1ce;
}

button:hover {
    background-color: #4da1ce;
    color: #dbe2e5;
    border-color: #dbe2e5;
}
