<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Blog Post</title>
</head>
<body>
    <h1>Add New Blog Post</h1>
    <form action="/add" method="post">
    <div>
        <textarea name="post-title" placeholder="Title"></textarea>
    </div>
    <div>
        <textarea name="post-body" placeholder="Text"></textarea>
    </div>
    <div>
        <textarea name="post-author" placeholder="Author"></textarea>
    </div>
    <button name="action" value="add" type="submit">add new post</button>
    </form>
</body>
</html>